/*Styling and position of entry page container*/
#container {
    position: absolute;
    left: 30%;
    top: 10%;
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
/*Start button styling and position*/
#startTime {
    background-color: darkgrey;
    padding 15px, 35px;
    font-size 30px;
    font-weight: bold;
}
/*Start button cursor hover styling*/
#startTime:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

/*Margin around question Div*/
#questionsDiv {
    margin: 50px;
}

/*Position of timer*/
#currentTime{
    float: right;
}

/*Styling of all title elements*/
h1 {
    text-align: center;
    font-weight: bolder;
}

/*Styling of all button items*/
button {
    background-color: blue;
    margin-top: 15px;
    width: 60%;
    font-size: 18px;
    color: white;
    display: inline-block;
}

/*Styling of buttons when you hover cursor*/
button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid grey;
}

@media screen and (max-width: 786px) {
    /* Resized content to fit 786px  */
        body {
            max-width: 786px;
        }
    /* Resized main-content to fit 786px  */
    #container {
        position: absolute;
        left: 20%;
    }

    a {
        margin-left: 20%;
    }
    #goBack {
            
            position: relative;
        }

    #clear {
            
            position: relative;
            
        }
    }
        
    /* A Media Query max-width: 640px */
    @media screen and (max-width: 640px) {
     /* Resized content to fit 640px  */
     body {
            min-width: 640px;
        }
    /* Resized main-content to fit 640px  */
    #container {
        position: absolute;
        left: 10%;
    }
      a {
          margin-left: 20%;
      }

     
}